@import '../../../../../helper/style/mixin.scss';

.showChart-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  overflow-x: hidden;
  overflow-y: auto;
}

.showChart-insertButton {
  margin: 20px 16px;
}

button.showChart-button {
  width: 100%;
  margin-top: 15px;
}

.showChart-chart {
  @include flex-center;
  margin-top: 10px;
}
