.custom-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-button {
  padding: 0;
  width: 50%;
  height: 35px;
  margin-top: 25px;
}

p.custom-button__typography {
  font-size: 12px;
  line-height: 21px;
  font-weight: bold;
}
