@import '../../../../../helper/style/mixin.scss';

.selectBar-container {
  padding: 0 20px;
  margin: -10px 0 10px;
}

.selectBar-textField {
  @include no-select;
  @include flex-center;
  margin: 0px 25px 0px 40px;
}

.selectBar-menu {
  width: 200;
}
