@import '../../../../../helper/style/mixin.scss';

.summary-container {
  margin: 20px 0;
  width: 280px;
}

.summary-textSlider {
  @include no-select;
  @include flex-center;
  position: relative;
}

.summary-icon {
  font-size: 40px;
}
