@import '../style/mixin.scss';

.textField {
  display: flex;
  margin: 25px 0 20px;
}

.insertButton {
  margin: 20px 16px;
}

.buttons {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.chart {
  @include flex-center;
  margin-top: 20px;
  margin-left: -30px;
}
