.c--add_container {
  margin-left: 15px;
  margin-right: 1px;
  padding-right: 10px;
  // height: calc(100% - 80px);
  height: calc(100%);

  &::before {
    content: '';
    display: block;
    height: 15px;
  }
  &::after {
    content: '';
    display: block;
    height: 20px;
  }
}

.add-textField {
  display: flex;
  margin: 25px 20px 20px 20px;
}
