.home-normal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: calc(100% - 40px);
  width: 100%;
  // margin-left: 15px;
  // margin-right: 1px;
  // padding-right: 10px;
}

.home-logs-list {
  width: 100%;
  padding-top: 10px;
  overflow-y: auto;
  flex: 1;
}

.home-image {
  max-width: 350px;
  height: 350px;
}
